<div fxLayoutAlign="space-around center" style="margin-top: 100px;">
  <div fxLayout="row wrap" >
    <mat-card>
      <mat-card-content >
        <mat-card-header class="header"> Reset Password </mat-card-header>
        <form [formGroup]="resetPasswordForm" name="resetPasswordForm"  (ngSubmit)="resetLoginPassword()" >
          <div fxFlex.xs="100%">
            <mat-form-field flex-basis>
              <mat-label><mat-icon style="color:orange; margin-right: 8px;">faFreeSoildIcon</mat-icon>E-mail</mat-label>
              <input type="text" formControlName="email" matInput required />
              <mat-error *ngIf="resetPasswordForm.get('email').errors?.['required']">
                Provide your registered e-mail
              </mat-error>
            </mat-form-field>
          </div>
          <div ffxFlex.xs="100%">
            <mat-form-field>
              <mat-label><mat-icon style="color:greenyellow; margin-right: 8px;">faLock</mat-icon>Password</mat-label>
              <input type="password" matInput formControlName="password" required />
              <mat-error type="password" *ngIf="resetPasswordForm.get('password').errors?.['required']">
              Password is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex.xs="100%">
            <mat-form-field>
            <mat-label><mat-icon style="color:greenyellow; margin-right: 8px;">faLock</mat-icon>Password Confirmation</mat-label>
              <input type="password" matInput formControlName="password_confirmation" required />
              <mat-error type="password" *ngIf="resetPasswordForm.get('password_confirmation').errors?.['required']">
                Password must be same.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="accent" [disabled]="!resetPasswordForm.valid">
              Submit
            </button>
            <a routerLink="../login"  mat-raised-button >Cancel</a>
            <div class="spinner-container" *ngIf="!isLoading" >
              <mat-spinner [diameter]="spinnerDiameter" color="accent" ></mat-spinner>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
