.spacer {
  flex: 1 1 auto;
}

.card-icon{
  border-radius: 3px;
  background-color: blueviolet;
  color: white;
  padding: 15px;
  margin-top: -50px;
  margin-right: 15px;
  float: left;
}

mat-card {
  margin: 1em 1.5em;
  border-radius: 0.5rem;
  position: relative;
  padding: 25px;
  background-color: rgba(85, 191, 240, 0.5);
  // max-width: 720px;
  // color: white;
}
mat-card-content{
  margin: 0em auto;
  position: relative;
  padding: 16px;
  border-radius: 0.5rem;
}
.fixTopMargin{
  height: calc(100vh - 100px);
}


