<div fxLayoutAlign="space-around center">
  <mat-card fxLayout="row wrap">
    <mat-card-content>
      <form fxLayout="row wrap" [formGroup]="changePasswordForm" (ngSubmit)="onPasswordChange()">
        <div fxLayout="row wrap">
          <div class="card-icon">
            <i class="material-icons">lock</i>
          </div>
          <mat-card-title style="font-size: large;">Change Password</mat-card-title>
        </div>
        <div fxLayout="row" style="padding-top: 20px;" fxFlexFill fxLayout.lt-sm="column">
          <mat-form-field fxFlex>
            <input
              type="password"
              matInput
              placeholder="Curent Password *"
              formControlName="currentPassword"
            >
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column">
          <mat-form-field fxFlex [ngClass]="{'has-success':validPassword===true}">
            <input
              type="password"
              matInput
              id="password"
              placeholder="New Password *"
              formControlName="password"
              (ngModelChange)="passwordValidation($event)"
              >
            <app-field-error-display [displayError]="isFieldValid(changePasswordForm, 'password')" errorMsg="Enter a valid password.">
            </app-field-error-display>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column">
          <mat-form-field fxFlex [ngClass]="{'has-success':validConfirmPassword===true}" [ngClass]="displayFieldCss(changePasswordForm, 'password')">
            <input type="password"
              matInput
              id="confirmPassword"
              placeholder="Confirm New Password *"
              formControlName="confirmPassword"
              (ngModelChange)="confirmPasswordValidation($event)"
            >
            <app-field-error-display
              [displayError]="isFieldValid(changePasswordForm, 'confirmPassword')" errorMsg="These passwords don't match. Try again!">
            </app-field-error-display>
          </mat-form-field>
        </div>
        <div class="card-footer text-right">
          <button mat-raised-button color="accent">
            <span *ngIf="isLoading" class="spinner-border text-warning spinner-border-sm mr-1"></span>
            Submit
          </button>
          <a routerLink="/dashboard"  mat-raised-button >Cancel</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
