<div fxLayoutAlign="space-around center" style="margin-top: 100px;">
  <mat-card fxLayout="row wrap">
    <mat-card-content fxLayoutGap="12px">
        <h2> Forgot Password </h2>
        <form fxLayout="row wrap" [formGroup]="forgotPasswordForm" name="forgotPasswordForm"  (ngSubmit)="forgotPasswordLink()" >
          <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column">
            <mat-form-field fxFlex>
              <input matInput type="text" placeholder="Your registered email" formControlName="email">
              <mat-error *ngIf="forgotPasswordForm.get('email').errors?.['required']">
                Provide your registered e-mail
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <button  mat-raised-button color="accent" [disabled]="!forgotPasswordForm.valid">
            <span>Send Password Reset Link</span>
            </button>
            <a routerLink="../login"  mat-button color="primary" >Cancel</a>
          </div>
          <div #spinnerDiv class="spinner-container" *ngIf="isLoading" >
            <mat-spinner [diameter]="spinnerDiameter" color="accent" ></mat-spinner>
          </div>
        </form>
    </mat-card-content>
  </mat-card>
</div>
